html {
  font-size: 16px;
  overflow-y: auto !important;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

.wrapper {
  // overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.v-main {
  display: flex;
}
.main {
  flex-grow: 1;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 10px 15px;
}

.disabled button {
  cursor: not-allowed;
}

h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
}

.col-50 {
  width: 50%;
  position: relative;

  @include lg-down {
    width: 100%;
  }
}

.col-30 {
  width: 30%;
  position: relative;
}

.col-40 {
  width: 40%;
  position: relative;

  @include lg-down {
    width: 50%;
  }
}

.col-60 {
  width: 60%;
  position: relative;

  @include lg-down {
    width: 50%;
  }
}

.col-70 {
  width: 70%;
  position: relative;
}

.col-15 {
  width: 15%;
  position: relative;

  @include lg-down {
    width: 50%;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.fade-enter-active{
  animation: fadeIn 0.3s;
}

.fade-leave-active{
  animation: fadeOut 0.3s;
}

@keyframes fadeIn{
  from{ opacity: 0 }
  to{ opacity: 1 }
}

@keyframes fadeOut{
  from{ opacity: 1 }
  to{ opacity: 0 }
}

.mdi:before {
  display: none !important;
}

.v-icon:before {
  display: inline-block !important;
}

.v-application {
  line-height: normal;
 }

.v-application p {
  margin-bottom: 0;
}

.theme--dark.v-icon {
  color: rgba(255, 255, 255, 0.7) !important;
}

.v-input__slot {
  padding: 0 !important;
}

.v-text-field__slot {
  padding-left: 12px !important;
  padding-right: 12px !important;
  width: 100%;
  z-index: 1;
}

.v-label {
  padding-left: 12px;
}

.v-input__prepend-inner {
  left: 12px !important;
  position: absolute !important;
  z-index: 0 !important;
}

.v-label--active {
  left: 7px !important;
}

.v-file-input__text {
  cursor: pointer;
}
.v-input__icon--clear {
  padding-right: 12px !important;
}

.v-select__selections {
  padding-left: 12px !important;
}

.col,
.col-12 {
  padding: 0 5px !important;
}

.__addible {
  .col-12 {
    padding: 0 12px !important;
  } 
}

.col-6 {
  padding-left: 8px !important;
  padding-right: 8px !important;
}
.row {
  margin: 0 -12px !important;
}

.v-dialog > .v-card > .v-card__text {
  padding: 24px 20px !important;
}

.v-toolbar__content {
  justify-content: space-between;
}

.block-content {
  padding: 0 25px;
}
.block-title {
  min-height: 77.22px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: Roboto Condensed, Arial, sans-serif;
  font-size: 20px;
  font-weight: 300;
  padding: 10px 0;
}
.empty-list {
  border-radius: 0.25rem;
  border: 1px solid rgba(255, 255, 255, 0.24);
  padding: 12px;
  min-height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
}

.btn-add {
  margin-top: 30px;
  border: 1px solid #efdfb7 !important;
  font-weight: 400 !important;
  font-size: 12px !important;

  // &.item-name {
  //   margin-top: 0;
  //   margin-bottom: 15px;
  //   width: 100%;
  //   border: 1px solid rgba(255, 255, 255, 0.24) !important;
  //   padding: 12px;
  //   display: flex;
  //   color: #fff;

  //   .v-btn__content {
  //     align-items: right;
  //     opacity: 1;
  //   }
  // }
}
